@using Dominio;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lista = ((List<Estado>)ViewBag.ListaDeEstados);
}

<div class="container" style="background-color:lightslategray; width: 50%; margin-top: 100px;  border-radius:5px">
    <div class="row">
        <div class="col">
            <table class="table">
                <tr style="font-size:20px">
                    <td><strong>Nombre:</strong> </td>


                    <td><strong>Acciones:</strong> </td>
                </tr>


                @{


                    foreach (var item in lista)
                    {

                        if (item.Estados == true)
                        {

                            <tr style="font-size:15px">
                                <td>
                                    @item.NombreEstado
                                </td>


                                <td>
                                    <a href="@Url.Action("FormAltaEstados", "Home", new { idAux = item.Id })" class="btn btn-primary"  style="font-size:15px">Editar</a>

                                    <a href="@Url.Action("BajaLogicaEstado", "Home", new { idAux = item.Id })" class="btn btn-danger"  style="font-size:15px">Eliminar</a>

                                </td>

                            </tr>

                        }

                    }
                }

            </table>
        </div>
    </div>
</div>
<div style="margin-top:30px;">
    <a href="@Url.Action("FormAltaEstados","Home")" class="btn btn-primary" style="margin-left:275px">Alta de estados</a>

</div>