@{
    @*ViewBag.Title = "Home Page";
}

<div class="container" style="background-color:white; width: 100%; height:500px;align-content:center; margin-top:40px">
    <a href="" class="boton"><img src="https://i.pinimg.com/564x/2b/18/66/2b186689aba1b5b70a722393b361f188.jpg" style="width:250px; height:250px; margin-top:70px;" alt="Cuchillo"></a>

    <a href=""><img src="https://i.pinimg.com/564x/dc/44/12/dc4412e40f0d0002131f2e3de0631c9f.jpg" style="width:250px; height:250px; margin-top:70px;" alt="Ojo setsy"></a>

    <a href=""><img src="https://i.pinimg.com/564x/65/52/93/655293445e51d7561055f63972cc7e8c.jpg" style="width:250px; height:250px; margin-top:70px;" alt="Ojo setsy"></a>

    <a href=""><img src="https://i.pinimg.com/564x/75/15/cd/7515cd65b02ed42741ae4bd5917a15ae.jpg" style="width:250px; height:250px; margin-top:70px;" alt="Ojo setsy"></a>
</div>*@
